.failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.failure-img {
    width: 300px;
}

.failure-container button {
    background-color: #0284c7;
    color: white;
    border: none;
    padding: 10px 20px;
}