.home-container {
  padding: 20px;
  background: #f5f7fa;
  min-height: 100vh;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-container input {
  width: 320px;
  height: 45px;
  border: 1px solid #d7dfe9;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 16px;
}

.search-container button {
  background: #0284c7;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

.book-card {
  background: white;
  border-radius: 18px;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-link {
  text-decoration: none;
  color: black;
}

.book-card img {
  width: 100%;
  height: 280px;
  border-radius: 12px;
}

.rating-container {
  display: flex;
  gap: 3px;
  margin-top: 10px;
}

.star-icon {
  color: #fbbf24;
}

.price {
  color: green;
  margin-top: 10px;
}

.cart-btn {
  width: 100%;
  margin-top: 15px;
  height: 42px;
  border: none;
  background: #0284c7;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.quantity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.quantity-box button {
  width: 38px;
  height: 38px;
  border: none;
  background: #0284c7;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.quantity-box p {
  font-size: 18px;
  font-weight: bold;
}