.bookshelves-container {
    display: flex;
    background: #f5f7fa;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: white;
    padding: 20px;
}

.shelf-btn,
.active-shelf {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.active-shelf {
    background: #0284c7;
    color: white;
}

.books-section {
    flex: 1;
    padding: 20px;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container input {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d7dfe9;
    padding-left: 15px;
}

.search-container button {
    background: #0284c7;
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 10px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.book-card {
    background: white;
    border-radius: 18px;
    padding: 15px;
}

.book-link {
    text-decoration: none;
    color: black;
}

.book-card img {
    width: 100%;
    height: 280px;
    border-radius: 12px;
}

.rating-container {
    display: flex;
    gap: 3px;
    margin-top: 10px;
}

.star-icon {
    color: #fbbf24;
}

.price {
    color: green;
}

.cart-btn {
    width: 100%;
    height: 42px;
    border: none;
    background: #0284c7;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

.quantity-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.quantity-box button {
    width: 38px;
    height: 38px;
    border: none;
    background: #0284c7;
    color: white;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .bookshelves-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}